* {
    padding: 0;
    margin: 0;
    /* border: #8BC6FC solid 1px; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    height: auto;
    background: #000 url(img/back-cover.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section {
    margin: 0;
    padding: 0.5rem;
}

header {
    max-width: 100%;
    height: auto;
}

/* 
   Navbar Styles
  */

.navbar-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: #29323c;
    background: linear-gradient(to top, #29323c, #485563);
    border-radius: 10px;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.logo-container {
    flex: 2;
    margin: 0;
}

.logo-wrapper {
    width: min-content;
    height: min-content;
}

.main-logo {
    margin-left: 16px;
    height: 75px;
}

.menu-list-container {
    padding: 0;
    margin: 0;
}

.menu-list-items {
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-link {
    text-decoration: none;
    padding: 0.5rem;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    padding: 0.5pc;
    margin-left: 1pc;
}

.menu-link:hover {
    cursor: pointer;
    color: #BF5250;
    font-weight: bold;
    border-bottom: solid 2px #BF5250;
}

.menu-icon-container {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 5px;
}

.icon {
    width: 24px;
    height: auto;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 5px;
    border-radius: 50%;
    background-color: azure;
}

.icon:hover {
    background-color: #BF5250;
}

/*
      Main styles 
  */

main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/*Founder-info-card Styles*/

#info {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#info-card {
    padding: 40px;
    height: max-content;
    display: flex;
    color: azure;
    justify-content: space-evenly;
    background-color: #48c6ef;
    background: linear-gradient(45deg, #48c6ef, #6f86d6)
}

#guitar-boy-wrapper {
    height: max-content;
}

#info-container {
    height: 80%;
    margin: 10px;
    height: 80vh;
}

h2 {
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

.info-text {
    margin: 1rem;
    font-size: 29px;
    text-align: left;
}

#video-div {
    width: auto;
    height: auto;
    margin: 9rem;
}

.video-contaienr {
    width: 100%;
    height: 100%;
    margin: 50% 0;
}

.video-text {
    text-align-last: center;
    font-size: 28px;
    margin-bottom: 35px;
}

#video {
    display: block;
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
}

#p {
    text-align: center;
}

#Services {
    padding: 50px;
    margin: 80px;
    height: max-content;
    width: auto;
    background-color: #48c6ef;
    background: linear-gradient(-45deg, #48c6ef, #6f86d6)
}

#Services h2 {
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid;
}

.services-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.services-list-item {
    margin: 1rem;
    font-size: 29px;
    padding: 0.2rem;
}

/* 
    Products Section 
  */

#products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    padding: 100px;
    padding-top: 50px;
}

.product-card-wrapper {
    height: max-content;
    width: max-content;
    background-color: #151515;
    /* background-color: #818589; */
}

.img-wrapper {
    height: max-content;
    width: min-content;
    margin: 0 auto;
}

.product-image {
    width: 300px;
    height: auto;
}

.product-options {
    display: flex;
    padding: 29px 49px;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.product-option-element {
    margin: 5px;
    padding: 3px;
}

.product-options button {
    padding: 9px 19px;
    border-radius: 20px;
    border: white solid 2px;
    cursor: pointer;
    font-size: 18px;
}

.product-options button:hover {
    background-color: #818589;
}


/* Footer Syles */

footer {
    display: flex;
    flex-direction: row;
    background-color: #8BC6FC;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

#SignIn {
    line-height: normal;
    padding: 2rem;
    display: block;
    margin: 3rem 2rem;
    border: 0.01rem black solid;
    background: none;
    border-left: gold solid 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

#SignIn h2 {
    color: black;
}

#form {
    padding: 1rem;
}

#email {
    width: 25vw;
    height: 5vh;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
}

#submit {
    width: auto;
    height: 2rem;
    background-color: gold;
    font-weight: 600;
    border-radius: 10%;
    display: inline-block;
}

#submit:hover {
    cursor: pointer;
    border: solid black 0.01rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

footer a img {
    width: 3rem;
    height: 3rem;
    background-color: burlywood;
    border-radius: 50%;
}

footer a img:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Media Queies */

@media only screen and (max-width: 930px) {
    footer {
        flex-direction: column;
        justify-content: space-around;
    }

    body {
        padding: 0;
        margin: 0;
    }

    #founder-info-card {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    #img-wrapper {
        margin: 5%;
    }

    .navbar-container {
        flex-direction: column;
        display: inline;
        padding-bottom: 60px;
    }

    .icon {
        width: 24px;
        height: auto;
        padding: 0.5pc;
        border-radius: 5px;
    }

    .icon:hover {
        border-radius: 50%;
    }

    #SignIn {
        margin: 0.9rem;
        margin-bottom: 1rem;
        padding: 0;
        text-align: center;
        display: block;
        font-size: 18px;
    }

    .flex {
        flex-direction: column;
        margin: 0;
        width: 100%;
        height: auto;
    }

    #products {
        flex-direction: column;
    }

    #video-div {
        margin: 2rem;
    }

    #video {
        display: block;
        margin: 0.2rem auto;
        padding: 0.4rem;
        width: 20rem;
        height: 15rem;
    }
}